body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.boton{
    background-color:green;
    color: rgb(223, 52, 52);
    padding: 100px 100px;
    border-radius: 10px;
    cursor: pointer;
    border-none;
    justify-content: center;
    align-items: center;
}
