body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  animation: fondoVape 5s ease infinite;
  background: linear-gradient(-45deg, rgb(121, 3, 3), #176003, #8d0057, #380778);
  background-size: 400% 400%;
}
@keyframes fondoVape {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #1a1a1a;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
header h1{
             margin: 0;
             color: #00ffcc;
             text-shadow: 0 0 10px #00ffcc;
        }
.nav{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav a{
  display: grid;
  color: white;
  margin:0 10px;
  text-decoration: none;
  font-weight: bold;
  justify-content:space-between;
  align-items: center;
}

.vapes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  padding: 25px;
}

.vapes img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s;
}


.vapes img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.boton button{
  border-radius: 15%;
}

.boton button:hover{
transition: transform 0.3s;
transform: scale(1.05) ;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}