@import url('https://fonts.googleapis.com/ccs2?family=montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://use.fontawesome.com/releases/v6.5.1/css/all.css');

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://cdnb.artstation.com/p/assets/images/images/017/794/915/original/jimena-rubirozqui-comp-fondofuego-1.gif?1557361377);
    background-size: cover;
    background-position: center;
    animation: anim 2.5s linear infinite;
}

.principal-box {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://cdnb.artstation.com/p/assets/images/images/017/794/915/original/jimena-rubirozqui-comp-fondofuego-1.gif?1557361377);
    background-size: cover;
    background-position: center;
    animation: anim 2.5s linear infinite;
}

@keyframes anim {
    100% {
        filter: hue-rotate(360deg);
    }
}

.login-box {
    width: 550px;
    height: 510px;
    position: relative;
    border-radius: 15px;
    border: 3px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    transform: translateY(0px) scale(0.8);
    transition: transform 0.5s ease, box-shadow 0.4s ease;
    animation: login-box-anim 1s ease-out forwards;
}

.login-box:hover {
    transform: scale(1.09);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0,4);
}

form{
    width: 80%;
}

h2 {
    font-size: 3em;
    color: #ffffff;
    text-align: center;
    margin: 10px 0 70px;
    transform: translateY(5px);
    animation: h2-anim 0.8s ease-out forwards;
    animation-delay: 0.5s;
}

.input-box {
    width: 100%;
    margin: 35px 0;
    position: relative;
    border-bottom: 1px solid #fff;
    transform: translateX(0px);
    transform: translateY(-25px);
}

.input-box label {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    top: 50%;
    color: #fff;
    transform: translateY(-50%);
}

.remember-forgot {
    margin: -10px 0 25px 0;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label {
    display: flex;
    align-items: center;
    gap: 0px;
}

.remember-forgot input {
    transform: scale(1.7);
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot button {
    color: #fff;
    background-color: black;
    display: flex;
    gap: 5px;
}

.boton {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000000;
    font-weight: 500;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: boton-anim 0.5s ease-out forwards;
    animation-delay: 1.6s;
    transform: translateY(0px) scale(1);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    animation: login-box-anim 1s ease-out forwards;
}

.boton:hover {
    transform: scale(1.03);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.4);
}

.boton a{
    color: #000000;
}

.register-link {
    font-size: .9em;
    color: #ffffff;
    text-align: center;
    margin: 25px 0 30px;
    animation: register-link-anim 0.7s ease-out forwards;
    animation-delay: 1.9s;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

#rememberMessage {
    color: white;
    font-size: 0.8em;
    text-align: center;
    margin-top: -20px; 
    margin-bottom: 25px; 
    font-weight: 500;
    opacity: 0;
    max-height: 0; 
    overflow: hidden;
    transition: opacity 0.4s ease-in-out, max-height 0.4s ease-in-out;
}

.visible-message {
    opacity: 1 !important;
    max-height: 50px !important;
    margin-top: 5px;
}

.hidden-message {
    opacity: 0 !important;
    max-height: 0 !important; 
    margin-top: -20px;
}