 body {
            font-family: Arial, sans-serif;
            background: #eaeaea;
            text-align: auto;
            padding: 0;
            margin: 0;
            display: grid;
            
        }

        .title{
            background-color: #e603529e;
            color: rgb(138, 2, 192); 
            text-align: auto;
         
        }
        

        h2 {
            color: #840284;
        }

        .contact{
            margin-top: 50px;
            text-align: center;
        }

        .contact-button {
            display: inline-block;
            margin: 15px;
            padding: 15px 30px;
            font-size: 18px;
            color: #000000;
            border-radius: 20px;
            transition:  0.3s;
        }

        .whatsapp {
            background-color: #00e025f1;
        }

        .whatsapp:hover {
            background-color: #269003;
        }

        .instagram {
            background-color: #ff005dac;
        }

        .instagram:hover {
            background-color: #9f025e;
        }

        .icon {
            margin-right: center ;
        }
