 body {
            font-family: Arial, sans-serif;
            background: #3495df;
            padding: 0;
            margin: 0;
            
            
        }

        a{
            text-decoration:none;

        }
        
       .parent {
         display: grid;
         grid-template-columns: repeat(5, 1fr);
         grid-template-rows: repeat(5, 1fr);
        gap: 8px;
        }
    
        .div8 {
          grid-column: span 2 / span 2;
        }

       .div9 {
          grid-column: span 2 / span 2;
          grid-column-start: 6;
          grid-row-start: 1;
        }

        .div10 {      
         grid-column-start: 3;
         grid-row-start: 1;
        } 

        h2 {
            color:rgb(162, 212, 215);
        }

        .contact{
            margin-top: 50px;
            text-align: center;
        }

        .contact-button {
            display: inline-block;
            margin: 15px;
            padding: 15px 30px;
            font-size: 18px;
            color: #ffffff;
            border-radius: 20px;
            transition:  0.3s;
        }

        .whatsapp {
            background-color: #00e025f1;
        }

        .whatsapp:hover {
            background-color: #269003;
        }

        .instagram {
            background-color: #ff005dac;
        }

        .instagram:hover {
            background-color: #9f025e;
        }

        .icon {
            margin-right: center ;
        }
        
        .footer{
           background-color:rgb(7, 7, 159);
            color: rgb(162, 212, 215);
            text-align: center;
            margin-top: 100px;
        }

        .sopor{
           
            color: rgb(162, 212, 215);
            text-align: center;
            margin-top: 10px;

        }