@import url('https://fonts.googleapis.com/ccs2?family=montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://use.fontawesome.com/releases/v6.5.1/css/all.css');

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    font-size: 24px;
}

.principal-box {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://cdnb.artstation.com/p/assets/images/images/017/794/915/original/jimena-rubirozqui-comp-fondofuego-1.gif?1557361377);
    background-size: cover;
    background-position: center;
    animation: anim 2.5s linear infinite;
}

@keyframes anim {
    100% {
        filter: hue-rotate(360deg);
    }
}

.login-box {
    width: 550px;
    height: 510px;
    position: relative;
    border-radius: 15px;
    border: 3px solid #ffffff80;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}

form{
    width: 80%;
}

h2 {
    font-size: 3em;
    color: #ff0000;
    text-align: center;
    margin: 24px 0;
}

.input-box {
    width: 100%;
    margin: 48px 0;
    position: relative;
    border-bottom: 1px solid #fff;
}

.input-box label {
    color: #ff0000;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    top: 50%;
    color: #fff;
    transform: translateY(-50%);
}

.remember-forgot {
    margin: 0 0 32px 0;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label {
    display: flex;
    gap: 5px;
}

.remember-forgot input {
    transform: scale(1.3);
}