 body {
            font-family: Arial, sans-serif;
            background: #3495df;
            text-align: auto;
            padding: 0;
            margin: 0;
            display: grid;
            
        }

        a{
            text-decoration:none;
        }

        .title{
            background-color: #2c4cdd9e;
            color: rgb(162, 212, 215); 
            text-align: center;
         
        }

        .nav{
            display: flex;
            padding: 10px;
            font-family: serif;
            font-size: 30px;
            margin-left: auto;
            margin-right:4%;
            color: rgb(162, 212, 215);
            text-align: center;
            margin-top: 50px;
            gap: 25px;


        }
        

        h2 {
            color:rgb(162, 212, 215);
        }

        .contact{
            margin-top: 50px;
            text-align: center;
        }

        .contact-button {
            display: inline-block;
            margin: 15px;
            padding: 15px 30px;
            font-size: 18px;
            color: #ffffff;
            border-radius: 20px;
            transition:  0.3s;
        }

        .whatsapp {
            background-color: #00e025f1;
        }

        .whatsapp:hover {
            background-color: #269003;
        }

        .instagram {
            background-color: #ff005dac;
        }

        .instagram:hover {
            background-color: #9f025e;
        }

        .icon {
            margin-right: center ;
        }
        
        .footer{
           background-color:#2c4cdd9e;
            color: rgb(162, 212, 215);
            text-align: center;
            margin-top: 100px;
        }

        .sopor{
            background-color:#2c4cdd9e;
            color: rgb(162, 212, 215);
            text-align: center;
            margin-top: 10px;

        }