
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.div1 {
    padding: 20px;
    border: 5px solid black;
    grid-column-start: 2;
    grid-row-start: 2;
}

.div2 {
     padding: 20px;
    border: 5px solid black;
    grid-column-start: 3;
    grid-row-start: 2;
}

.div3 {
     padding: 20px;
    border: 5px solid black;
    grid-column-start: 4;
    grid-row-start: 2;
}

.div4 {
     padding: 20px;
    border: 5px solid black;
    grid-column-start: 2;
    grid-row-start: 3;
}

.div5 {
     padding: 20px;
    border: 5px solid black;
    grid-column-start: 3;
    grid-row-start: 3;
}

.div6 {
     padding: 20px;
    border: 5px solid black;
    grid-column-start: 4;
    grid-row-start: 3;
}

.div7 {
     padding: 20px;
    border: 5px solid black;
    grid-column-start: 2;
    grid-row-start: 4;
}

.div8 {
     padding: 20px;
    border: 5px solid black;
    grid-column-start: 3;
    grid-row-start: 4;
}

.div9 {
     padding: 20px;
    border: 5px solid black;
    grid-column-start: 4;
    grid-row-start: 4;
}

.div10 {
     padding: 20px;
    border: 5px solid black;
    grid-column-start: 2;
    grid-row-start: 5;
}

.div11 {
     padding: 20px;
    border: 5px solid black;
    grid-column-start: 3;
    grid-row-start: 5;
}

.div12 {
     padding: 20px;
    border: 5px solid black;
    grid-column-start: 4;
    grid-row-start: 5;
}
        